
            body {
                font-family: Arial, sans-serif;
                background-color: #f3f1f1;
                margin: 0;
                padding: 0;
            }
            form {
                width: 200px;
                margin: 100px auto;
                padding: 20px;
                background-color: #ba6363;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
            input[type="text"] {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                border: 1px solid #f3ebeb;
                border-radius: 4px;
            }
            
            input[type="button"] {
                width: 45px;
                padding: 10px;
                background-color: #f6f3f3;
                
                color: #000;
                border: 2px solid #ccc;
                border-end-end-radius: 5px;
    cursor: pointer;
            }
            input[type="button"]:hover {
                background-color: #bdb0b0;
            }           

        